body {
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-template-rows: 200px 200px 200px;
  gap: 24px;
  /* display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center; */
}
.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-item:hover {
  scale: 1.02;
}
